---
title: "MCP-over-SPARQL : Giving AI the tools to query knowledge graphs"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Tarek Bouzelat', 'https://www.linkedin.com/in/tarek-bouzelat/', '' %> (1)
- <%= person 'Thomas Francart', 'https://www.linkedin.com/in/thomasfrancart/', 'https://orcid.org/0000-0003-4648-0065' %> (1)
- <%= person 'Badisse Dahamna', '', 'https://orcid.org/0000-0003-0762-2518' %> (2)
- <%= person 'Flavien Disson', '', '' %> (2)
- <%= person 'Romain Lelong', '', '' %> (2)
- <%= person 'Catherine Letord', '', 'https://orcid.org/0000-0002-4051-2284' %> (2)
- <%= person 'Stéfan J. Darmoni', '', 'https://orcid.org/0000-0002-7162-318X' %> (2)

{:#affiliations}
- {:#aff1} (1) <a href="https://www.sparna.fr">Sparna</a>
- {:#aff2} (2) <a href="https://www.cismef.org/cismef/desan/">Département de Santé Numérique du CHU Hôpitaux de Rouen – DéSaN</a>

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section '0-abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section '1-introduction' %>
  <%= section '2-architecture' %>
  <%= section '3-workflow' %>
  <%= section '4-demonstration' %>
  <%= section '5-conclusion' %>
  <%= section '6-ethics' %>
  <%= section '7-genai' %>
  <%= section '8-acknowledgements' %>
  <br />
</main>

<footer></footer>

</div>
